/*头部下箭头*/
input,button,select{
	outline: none;
	border: none;
}
.header .navbar-item>a.coachdown{
	position: relative;
}
.header .navbar-item>a.coachdown::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 12px;
	height: 7px;
    background: url(/images/coachd.png) no-repeat;
    margin-top: 10px;
}

.P-parents{
	padding-top: 80px;
}
.P-parents .content {
    margin: 0 auto;
    width: 1140px;
    background-color: #fff;
    margin-bottom: 40px;
    margin-top: 12px;
}
.P-parents .content .parents-crumb{
    width: 1140px;
    height: 45px;
    line-height: 45px;
    background-color: #f5f7fa;
    border: solid 1px #eaeaea;
    text-indent: 20px;
    font-size: 14px;
    color: #333333;
}
/*5-教练员*/
.coach-page{
	padding-top: 80px;
}
.coach-page .content{
    margin: 0 auto;
    width: 1140px;
    background-color: #fff;
    margin-bottom: 40px;
    margin-top: 12px;
}
.coach-page .coach-crumb{
	width: 1140px;
    height: 45px;
    line-height: 45px;
    background-color: #f5f7fa;
    border: solid 1px #eaeaea;
    text-indent: 20px;
    font-size: 14px;
    color: #333333;
}
.coach-page .content a.back-btn {
    content: " ";
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url(/images/left-arrow.png) no-repeat;
    margin-right: 10px;
    vertical-align: -2px;
}
.coach-page .coach-crumb .coach-crumb-right{
	float: right;
	margin-right: 36px;
}
.coach-crumb .coach-crumb-right button{
	border: none;
	border-radius: 2px;
    -moz-border-radius: 2px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    margin: 0 10px;
}
.coach-crumb .coach-crumb-right button.coach-blue{
	background: #2D64B3;
}
.coach-crumb .coach-crumb-right button.coach-red{
	background: #C60818;
}
.coach-crumb .coach-crumb-right button.batchbtn{
	background: none;
	font-size: 14px;
	color: #333;
}
.coach-page .coach-page-arrang{
	padding-bottom: 30px;
}
.coach-page .hasbuy{
	text-align: center;
	padding: 10px 40px 60px 40px;
	position: relative;
	width: 100%;
}
.coach-page .hasbuy .hasbuy-prev{
	position: absolute;
	left: 60px;
    top: 90px;
	width: 30px;
	height: 74px;
	cursor: pointer;
}
.coach-page .hasbuy .hasbuy-next{
	position: absolute;
	right: 60px;
    top: 90px;
	width: 30px;
	height: 74px;
	cursor: pointer;
}
.coach-page .hasbuy .hasbut-item{
	text-align: center;
	margin-right: 24px;
	font-size: 14px;
	color: #333;
	margin-top: 20px;
}
.read-course{
	width: 110px;
	height: 28px;
	display: block;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin: 80px auto 0 auto;
	background: #C60818;
	border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
}
.P-parents .read-deta{
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #2D64B3;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    float: right;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 7.5px;
    margin-right: 36px;
    text-indent: 0;
    cursor: pointer;
}
.P-parents .p-parcoach-detail.my-deta-con{
	padding: 50px 53px 110px 53px;
}
.my-deta-con .mydate-cv{
	font-size: 16px;
	color: #222222;
	border-top: 1px solid #EEEEEE;
	padding-top: 35px;
	margin-bottom: 20px;
}
.my-deta-con .mydate-cv-list{
	display: flex;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.my-deta-con .mydate-cv-list .mydate-cv-item{
	width: 50%;
	margin-bottom: 20px;
}
.my-deta-con .mydate-cv-list .mydate-cv-item span{
	margin-right: 30px;
}
/*课程详情*/
.P-parents .content a.back-btn{
	content: " ";
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url(/images/left-arrow.png) no-repeat;
    margin-right: 10px;
    vertical-align: -2px;
}
.P-parents  .coach-detail-con{
	padding-bottom: 30px;
}
.P-parents  .coach-detail-con p{
	margin-top: 38px;
	margin-bottom: 62px;
	text-align: center;
	font-size: 20px;
}
.P-parents  .coach-detail-con img{
	margin-left: 142px;
	margin-bottom: 30px;
}
.P-parents  .coach-detail-con pre{
	margin-left: 80px;
	font-size: 14px;
	line-height: 26px;
	color: #666;
}
.P-parents  .platform-video{
	width: 860px;
	height: 482px;
}
/**/
.P-parents .p-parcoach-detail{
	padding: 50px 0 110px 53px;
}
.P-parents .p-parcoach-detail .p-parcoach-data{
	margin-bottom: 44px;
}
.p-parcoach-detail .p-parcoach-data .coach-con-center{
	flex: 1;
	display: flex;
	display: -webkit-flex;
}
.p-parcoach-detail .p-parcoach-data .coach-con-center .coach-con-center-item{
    margin-left: 50px;
}
.p-parcoach-detail .p-parcoach-data > img{
	width: 180px;
	height: 240px;
}
.p-parcoach-detail .coach-con-center-item p{
    font-size: 14px;
    line-height: 40px;
}

.p-parcoach-detail.my-deta-con .coach-con-center-item span{
	margin-right: 67px;
}
.p-parcoach-detail .coach-con-center-item span{
    display: inline-block;
    width: 65px;
    margin-right: 27px;
    text-align: right;
}
.P-parents .p-parcoach-detail .title{
	font-size: 20px;
	color: #333;
	margin-bottom: 35px;
}
.P-parents .p-parcoach-detail .parcoach-book-item{
	width: 250px;
	height: 160px;
}
.P-parents .p-parcoach-detail .parcoach-book-item{
	
	margin-right: 40px;
}
.p-parcoach-detail .coach-con-center-item p strong{
	font-size: 16px;
	color: #C60818;
	margin-left: 15px;
}
.p-parcoach-detail.my-deta-con .coach-con-center-item p{
	font-size: 16px;
}
/*审核详情*/
.coach-btn{
	border-top: 1px solid #EEEEEE;
	text-align: center;
	padding-top: 53px;
}
.coach-btn button{
	width: 80px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	margin: 0 10px;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.coach-btn button.pass{
	background: #2D64B3;
}
.coach-btn button.del{
	background: #C60818;
}
/*教案详情*/
.lesson-con-title{
	text-align: center;
	font-size: 16px;
	color: #333;
	margin-top: 43px;
	padding-bottom: 55px;
}
.coach-page .coach-lesson-con{
	padding-bottom: 150px;
}
/*新增/编辑教案*/
.coach-page .aditor_title_input{
	min-width: 500px;
	border: 1px solid #D8D8D8;
	height: 28px;
	line-height: 28px;
	display: block;
	margin: 38px auto;
	text-align: center;
	color: #333;
}
.coach-page .coach-editor-con{
	padding-bottom: 52px;
}
.coach-page .editorbtn{
    text-align: center;
    padding-top: 53px;
}
.coach-page .editorbtn button{
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    -moz-border-radius: 2px;
}
.coach-page .editorbtn button.savebtn{
	background: #C60818;
}
.coach-page .editorbtn button.cancel{
	background: none;
	border: 1px solid #A6A6A6;
	color: #333333;
}

.organ_pagination{
    padding-bottom:38px;
    margin-top:56px;
    margin-right:35px;
    display:flex;
    display:-webkit-flex;
    justify-content:flex-end;
    -webkit-justify-content:flex-end;
}
.auditList .pass{
	font-size:14px;
	color:#2D64B3;
	display:inline-block;
	margin:0 10px;
}
.auditList .del{
	font-size:14px;
	color:#C60818;
	display:inline-block;
	margin:0 10px;
}

.look{
	color:#2D64B3;
}


.dowmzj{
    display:inline-block;
    padding-right:10px;
    text-indent: 0;
    height:28px;
    line-height:28px;
    width:150px;
    margin-left:20px;

}
.dowmzj .el-dropdown{
    display:block;
}
.dowmzj input{
    font-size:12px;
}
.dowmzj .el-input__inner{
    height:28px;
    line-height:28px;
    padding:0 10px;
}
.dowmzj .el-input__icon{
    line-height:28px;
}
.organlist-tab .tabs .el-tabs__nav{
    float:none;
    height:28px;
    line-height:28px;
}
.organlist-tab .tabs .el-tabs__item.is-active{
    background-color:#C60818;
    color:#fff;
    border-radius:2px;
    -moz-border-radius:2px;
}
.organlist-tab .tabs .el-tabs__nav-wrap::after,.organlist-tab .tabs .el-tabs__active-bar{
    height:0px;
}
.organlist-tab .tabs .el-tabs--top .el-tabs__item.is-top:last-child,.organlist-tab .tabs .el-tabs--top .el-tabs__item.is-top:nth-child(2){
    padding-right:0;
    padding-left:0;
    margin:0 10px;
    padding:0 10px;
}
.organlist-tab .tabs .el-tabs__item{
    height:28px;
    line-height:28px;
    padding:0;
    padding:0 20px;
}
.el-tabs__nav-wrap,.el-tabs__nav-scroll{
    overflow: visible;
}
.groupQuery{
	border: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    margin: 0 10px;
    background: #C60818;
}
.star-rate{
    margin-top:27px;
    text-align:center;
    font-size:16px;
    color:#222222;
    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -ms-justify-content:center;
}
.P-parents .read-deta {
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #2D64B3;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    float: right;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 7.5px;
    margin-right: 36px;
    text-indent: 0;
    cursor: pointer;
}
.tablebox{
    margin:0 78px;
}
.tablebox .note{
    margin-top:28px;
    margin-left:38px;
}


.P-parents .p-upload-video {
    padding: 13px 0 58px 38px;
}
.P-parents .p-upload-video-con{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.p-upload-video-con .p-uploadcon-item{
    margin-right: 50px;
    margin-bottom: 30px;
}
.p-upload-video-con .p-uploadcon-item:nth-child(4n){
    margin-right: 0;
}
.p-upload-video-con .p-uploadcon-item .p-imgvideo{
    width: 228px;
    display: flex;
    display: -webkit-flex;
    align-items:flex-start;
    -webkit-align-items: flex-start;
}
.p-upload-video-con .p-uploadcon-item .p-imgvideo .delect{
    cursor: pointer;
    width: 16px;
    height: 19px;
}
.p-upload-video-con .p-uploadcon-item .p-imgvideo .p-alter{
    cursor: pointer;
    margin-top: 11px;
    width: 18px;
    height: 17px;
}
.p-upload-video-con .p-imgvideo .videoimg-div{
    width: 200px;
    height: 156px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    overflow: hidden;
    position: relative;
}
.p-upload-video-con .p-imgvideo .course-btn{
    padding-left: 10px;
}
.p-upload-video-con .p-imgvideo div img{
    width: 100%;
    height: 100%;
}
.p-upload-video-con .p-imgvideo div .play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.p-upload-video-con .p-imgvideo div .play img{
    width: 100%;
    height: 100%;
}
.p-upload-video-con .p-imgvideo img{
    display: block;
}
.p-upload-video-con .p-uploadcon-item p.look{
    font-size: 14px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 228px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.p-upload-video-con .p-uploadcon-item p.time{
    font-size: 14px;
    color: #999999;
}
.new-course {
    width: 110px;
    height: 28px;
    display: block;
    line-height: 28px;
    text-align: center;
    color: #fff;
    margin: 80px auto 0 auto;
    background: #C60818;
    border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
}
.P-parents .p-upload-video h5 {
    font-size: 20px;
    color: #333;
    margin-bottom: 35px;
    margin-top: 20px;
}